<!DOCTYPE html>
<html lang="en">
{% load ganalytics %}
        <head>
        <title>Resto</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="{{ STATIC_URL }}images/logo.png">
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/logo.png" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/slider.css">
	    <link rel="stylesheet" href="{{ STATIC_URL }}css/zerogrid.css" type="text/css" media="screen">
	    <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.js"></script>
        <script src="{{ STATIC_URL }}js/superfish.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
        <script src="{{ STATIC_URL }}js/sForm.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.carouFredSel-6.1.0-packed.js"></script>
        <script src="{{ STATIC_URL }}js/tms-0.4.1.js"></script>
	    <script src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
        <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
            <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie.css">
        <![endif]-->
        {% ganalytics %}
        </head>
        <body>
            <div class="main">
                <header>
                    <div class="zerogrid">
                        <div class="col-full">
	                        <div class="wrap-col">
                                <a href="/dinner/"><img src="{{ STATIC_URL }}images/logo.png" alt="EXTERIOR" width="100" height="100"></a>
                                <div class="menu_block">
                                    <nav>
                                        <ul class="sf-menu">
                                            <li ><a href="/products/">Producten</a></li>
                                            <li><a href="/reservations/">Reservaties</a></li>
                                            <li class="current"><a href="/rooms/">Kamers</a></li>
                                            <li><a href="/statistics">Statistieken</a></li>
                                            <li><a href="/transactions/">Transacties</a></li>
                                            {% if user.is_authenticated %}
                                                <li><a href="/employee/">Profiel</a></li>
                                                <li><a href="/employee/logout">Log uit</a></li>
                                            {% else %}
                                                <li><a href="/employee/login">Login</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
		                    </div>
                        </div>
                    </div>
                </header>
                <div class="content page1">
                    <div class="zerogrid">
                        <form action="" method="post" style="margin-top:20px;">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td><label for="number">Room number: </label></td>
                                    <td>{{ form.number }}</td>
                                </tr>
                                <tr>
                                    <td><label for="capacity">Capacity: </label></td>
                                    <td>{{ form.capacity }}</td>
                                </tr>
                                <tr>
                                    <td><label for="floor">Floor number: </label></td>
                                    <td>{{ form.floor }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="Add room" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div class="row">
                            <div class="col-3-5">
	  	                        <div class="wrap-col">
	                                <div class="page1_block col1">
				                        <div class="col-2-3">
		                                    <div class="extra_wrapper"></div>
			                            </div>
	                                    <div class="clear"></div>
	                                </div>
		                        </div>
                            </div>
                            <div class="col-2-5"></div>
                        </div>
                        <div class="col-full">
                            <div class="hor_separator"></div>
                        </div>
	                    <div class="row">
                            <div class="col-full">
	  	                        <div class="wrap-col"></div>
                            </div>
	                    </div>
	                    <div class="row">
        <footer>
            <div class="zerogrid">
                <div class="col-full">
		            <div class="wrap-col">
                        Swati, Gert, Lode & Dylan &copy; 2014
	 	            </div>
                </div>
            </div>
        </footer>
    </body>
</html>