<!DOCTYPE html>
<html lang="en">
{% load ganalytics %}
     <head>
     <title>Resto</title>
     <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="icon" href="{{ STATIC_URL }}images/logo.png">
     <link rel="shortcut icon" href="{{ STATIC_URL }}images/logo.png" />
     <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	 <link rel="stylesheet" href="{{ STATIC_URL }}css/zerogrid.css" type="text/css" media="screen">
	 <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css" type="text/css" media="screen">
     <script src="{{ STATIC_URL }}js/jquery.js"></script>
     <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.js"></script>
     <script src="{{ STATIC_URL }}js/superfish.js"></script>
     <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
     <script src="{{ STATIC_URL }}js/sForm.js"></script>
     <script src="{{ STATIC_URL }}js/jquery.carouFredSel-6.1.0-packed.js"></script>
	 <script src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
     <script>

      
     $(window).load (
    function(){$('.carousel2').carouFredSel({auto: false,prev: '.prev1',next: '.next1', width: 410, items: {
      visible : {min: 1,
       max: 1
},
height: 'auto',
 width: 410,

    }, responsive: false, 
    
    scroll: 1, 
    
    mousewheel: false,
    
    swipe: {onMouse: false, onTouch: false}});
    
    
    });      

     </script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie.css">

    <![endif]-->
     {% ganalytics %}
     </head>
     <body>
       <div class="main">
<!--==============================header=================================-->
 <header> 
  <div class="zerogrid">
    <div class="col-full">
	<div class="wrap-col">
    <h1><a href="/employee/dinner/menu/"><img src="{{ STATIC_URL }}images/logo.png" alt="EXTERIOR" width="100" height="100"></a> </h1>
    
         <div class="menu_block">
           <nav>
            <ul class="sf-menu">
                   
                   
				   	
		<li><a href="/employee/dinner/menu/">Menu</a></li>
                <li><a href="/employee/dinner/starter/">Voorgerecht</a></li>
		<li><a href="/employee/dinner/main/">Hoofdgerecht</a></li>
		<li><a href="/employee/dinner/dessert/">Dessert</a></li>
                <li class="current"><a href="/employee/dinner/preparation/">Bereiding</a></li>
                   
                 </ul>
           </nav>
           <div class="clear"></div>
           </div>
           <div class="clear"></div>
		</div>
      </div>
    </div>
</header>
<!--=======content================================-->

<div class="content">
  <div class="zerogrid">
  	<div class="row">
    <div class="col-2-5">
	<div class="wrap-col">
      <h2>Werkwijze</h2>
      
      <p class="col1">Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget. </p>
      <p>Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.  </p>
      Donec eu felis purus, iaculis fringilla ipsum. Integer non. nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus.       <br>
      
	 </div>
    </div>
	<div class="col-1-5"><div class="wrap-col"><!--empty--></div></div>
    <div class="col-2-5">
	<div class="wrap-col">
      <h2>Werkwijze</h2>
      <ul class="testimo">
        <li>
          <blockquote>
            
            <div class="extra_wrapper">
              
            </div>
             <div class="clear"></div>
            <p class="col1"><a href="#">Euismod pellentesque in dui. Semper, enim eget eleifend faucibus, sem libero gravida erat, sit amet viverra dui nisl non nulla. Pellentesque in dui euismod.        </a></p>
            <p>Curabitur felis purus, iaculis fringi. ipsum. Integer non nulla sem, eget volutpat augue. Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio.  Aliquam consectetur. Fringilla ipsum.           </p>
            <p>
Ringilla ipsum. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringi. ipsum. Integer non nulla sem, eget volutpat augue. Ghfgop pelle ntesque suscipit eget consectetur.</p>
          </blockquote>
        </li>
      </ul>  
	</div>
    </div>
	</div>
    
	
    <div class="col-full">
      <div class="hor_separator hor1"></div>
      
    </div>
    <div class="clear"></div>
	
	<div class="row">
    
    
      
<!--==============================footer=================================-->

<footer>    
  <div class="zerogrid">
    <div class="col-full">
		<div class="wrap-col">
     
	 	</div>
    </div>
  </div>
</footer>
</body>
</html>