<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% load ganalytics %}
    <head>
        <meta charset="UTF-8" />
        <title>Inloggen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ STATIC_URL }}images/LogoNieuw.png">
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/LogoNieuw.png" />
        <meta name="description" content="Login and Registratie" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_login.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/animate-custom.css" />
        {% ganalytics %}
    </head>
    <body>
        <div class="container">
            <div class="codrops-top">
                <div class="clr"></div>
            </div>
            <header>
                <h1></span></h1>
            </header>
            <section>
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form action="" autocomplete="on" method="post">
                                {% csrf_token %}
                                <a href="/"><img src="{{ STATIC_URL }}images/LogoNieuw.png" alt="logo" width="100" height="100"></a><h1>Inloggen</h1>
                                <p>
                                    <label for="email" class="uname" data-icon="u" > Email </label>
                                    <input id="email" name="username" required="required" type="text" placeholder="email"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> Wachtwoord </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="wachtwoord" />
                                </p>
                                <p class="keeplogin">
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
									<label for="loginkeeping">Ingelogd blijven</label>
								</p>
                                <p class="login button">
                                    <input type="submit" value="Inloggen" />
								</p>
                                <p class="change_link">
								</p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>